body, html {
  width: 100%;
  min-height:100%;
  overflow-x: hidden;
  margin:0;
  padding: 0;
}

body {
  background: url("../images/bkgrd/spc_bg_04.jpg");
}
  
#all {
  width: 90%;
  margin: auto;
  position: relative;
}
  
#game {
  width: 920px;
  height: 550px;
  border: 3px solid #b5b5b5;
  padding: 30px 10px 30px 30px;
  margin: auto;
  position: relative;
  background: #fff;
}
  
#game canvas{
  width: 600px;
  height: 500px;
  border: 3px solid #bbb;
  position: relative;
  left: 0;
  float: left;
}

#side_menu{
  width: 28%;
  height: 500;
  position: relative;
  margin-left: 20px;
  float: left;
  border: 3px solid #a9b;
  padding: 0 10px;
}

#side_menu span {
  float: right;
  position: absolute;
}
  
#game #x {
  
}

#game #y {
  top: 100px;
}